main { 
    background: purple;
}

.box_container {
    display: flex;
}

.box {
    display: inline block;
    margin: 1rem;
    background: red;
    min-width: 10rem;
    max-width: 10rem;
    min-height: 10rem;
    max-height: 10rem;
}